#nav-back a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#nav-back img {
  width: 18px;
  margin-right: 4px;
}

section figure {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

section img {
  margin-bottom: 40px;
  display: block;
  width: 100%;
}

section figure img {
  margin-bottom: 8px;
  display: block;
  width: 100%;
}

figcaption {
  font-size: 14px;
  font-style: italic;
}

figure iframe {
  width: 100%;
  max-width: 340px;
}
